<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <title>Электричество</title>
    <style>
table {
  border-collapse:collapse;
  text-align: center;
}

body {
    margin: 1% 10% 0 10%;
}



  </style>
      {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div style="color: green; font-weight:bold; font-size: 24px">
        {% for message in messages %}
            {{ message }}<br>
        {% endfor %}
    </div>
    {% endif %}
{% endwith %}

  </head>
  <body>
  
  <p style="font-weight:bold">Ввод показаний:</p>

  <form action="{{ url_for('get_data') }}" method="post">
  {{ form.hidden_tag() }}

  <div class="form-group">
    {{ form.T1() }}
  </div>

      <div class="form-group">
    {{ form.T2() }}
  </div>
      <div>
    {{ form.submit }}
  </div>


<br>

<table class="table ">
  <thead class="thead-dark">
    <tr>
<th scope="col"><b>Дата</b></th>
<th scope="col"><b>Значение Т1</b></th>
<th scope="col"><b>Знаение Т2</b></th>
<th scope="col"><b>Тариф Т1</b></th>
<th scope="col"><b>Тариф Т2</b></th>
<th scope="col"><b>Сумма</b></th>
</tr>
 </tr>
  </thead>
  <tbody>
    <tr>

 {% for item in data %}

      <tr>
<td scope="row">{{ item.date }}</td>
<td scope="col">{{ item.t1 }}</td>
<td scope="col">{{ item.t2 }}</td>
<td scope="col">{{ item.tarif1 }}</td>
<td scope="col">{{ item.tarif2 }}</td>
<td scope="col">{{ item.summ }}</td>
</tr>
    {% endfor %}

</tbody>
</table>


<p>
  <strong>Итого потратил: {{ total }} руб.</strong></p>
  </body>

<footer><p>asdasdd</footer>
<img src="webapp/stat.png">
</html>